{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'quiz/style.css' %}" />

{% if user.is_authenticated %}
<form method="post" action="{% url 'logout' %}" id="logout_form">
    {% csrf_token %}
    <div>
        <input type="submit" value="Logout" />
        <input type="hidden" name="next" value="/accounts/login/" />
    </div>
</form>
{% endif %}
{% block content %}{% endblock content %}