li a {
    color: green;
}

body {
    position: relative;
    background: #fff;
    overflow: hidden;
}

body:before {
    content: ' ';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0.2;
    background-image: url("images/background.jpg");
    background-size: cover;
}

