{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'quiz/style.css' %}" />

{% if latest_question_list %}
    <ul>
    {% for question in latest_question_list %}
        <li><a href={% url 'quiz:detail' question.id %}>{{ question.question_text }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No questions are available</p>
{% endif %}