{% extends "base.html" %}

{% block content %}

{% if not only_voted %}

<h1><a href={% url 'quiz:index' %}?only_not_voted=1>Not voted question list</h1>

    {% if not_voted_questions %}
        <ul>
        {% for question in not_voted_questions %}
            <li><a href={% url 'quiz:detail' question.id %}>{{ question.question_text }}</a></li>
        {% endfor %}
        </ul>
    {% else %}
        <a>No not voted questions are available</a>
    {% endif %}
{% endif %}

{% if not only_not_voted %}

<h1><a href={% url 'quiz:index' %}?only_voted=1>Voted question list</h1>

    {% if voted_questions %}
    <ul>
        {% for question in voted_questions %}
        <li><a href={% url 'quiz:detail' question.id %}>{{ question.question_text }}</a></li>
        {% endfor %}
    </ul>
    {% else %}
    <a>No voted questions are available</a>
    {% endif %}
{% endif %}

{% if only_not_voted or only_voted%}

<h3><a href={% url 'quiz:index' %}>Back to all question list</h3>

{% endif %}

{% endblock %}